section.achieve
  .conteiner
    .down-cards 
      .down-item 
        img.border-img(src="../img/Background.png", alt="")
        .in-border 
          img.img__down(src="../img/IconDown.png", alt="")
          h1.number 250k
          h4.down-name App Download
      .border
      .down-item 
        img.border-img(src="../img/Background.png", alt="")
        .in-border 
          img.img__down(src="../img/IconUSERS.png", alt="")
          h1.number 100k
          h4.down-name Active Users
      .border
      .down-item 
        img.border-img(src="../img/Background.png", alt="")
        .in-border 
          img.img__down(src="../img/iconForma.png", alt="")
          h1.number 20+
          h4.down-name Best Awards
      .border
      .down-item 
        img.border-img(src="../img/Background.png", alt="")
        .in-border 
          img.img__down(src="../img/Iconhappy.png", alt="")
          h1.number 95%
          h4.down-name Happy Users