section.feature
  .continer
    .img 
    img(src="../img/phones.png", alt="")
    .text
      h2 App Core Features
      h4 It is a long established fact that a reader will be distracted its by the readable content of a page when at its layout.
    .cards 
      .card-item  
        img(src="../img/Icon1.png", alt="")
        h3  Premium Quality
        p Lorem has survived not only five to but also the leap.
        
      .card-item  
        img(src="../img/Icon2.png", alt="")
        h3  Retina Ready
        p Lorem has survived not only five to but also the leap.

        .card-item  
        img(src="../img/Icon3.png", alt="")
        h3 Top Class Security
        p Lorem has survived not only five top but also the leap

        .card-item  
        img(src="../img/Forma 1.png", alt="")
        h3  Excellent Support
        p Lorem has survived not only five top but also the leap