footer.footer 
    .container 
        a.link-top(href="#top") 
        .footer-interaction
            .appnest-contact 
                img.footer-logo(src="../img/footer-logo.png", alt="")
                p.footer-paragraph It is a long established fact that  it is reader will be distracted it by readable content of a pagei when at it conten making.
                h1.contact-title Follow Us
                .appnest-media 
                    img.media-img(src="../img/Facebook.png", alt="")
                    img.media-img(src="../img/Twitter.png", alt="")
                    img.media-img(src="../img/Linkedin.png", alt="")
                    img.media-img(src="../img/Instagram.png", alt="")
            ul.resources
                h1.list-tile Resources
                li.res-list Watch Demo Video
                li.res-list Documents
                li.res-list Intigrations
                li.res-list Creating Tasks
                li.res-list Themes
                li.res-list Plugin
            ul.company 
                h1.list-tile Company
                li.co-list Live Chanel
                li.co-list Latest Peoject
                li.co-list Manage Work
                li.co-list Quick Start Guide
                li.co-list Feedback
                li.co-list Support Center
            .newsletter 
                p.footer-paragraph Subscribe to our newsletter for latest update
                input.footer-input(type="text" placeholder="Enter your name")
                img.footer-icon(src="", alt="")
    .footer-end 
        p.copy © 2017 
        span.copy-wrod Equalizzer   |   All Rights Reserved By 
        span.copy-word  Abdullah Al Mamun   | Envato Marketplace            


