footer.footer
    .link-container
        .link-bg
            .in-bg 
                a.top-link(href="#top") ^
    .container
        .footer-interaction
            .appnest-contact 
                img.footer-logo(src="../img/footer-logo.png", alt="")
                p.footer-paragraph It is a long established fact that  it is reader will be distracted it by readable content of a pagei when at it conten making.
                h1.contact-title Follow Us
                .appnest-media 
                    img.media-img(src="../img/Facebook.png", alt="")
                    img.media-img(src="../img/Twitter.png", alt="")
                    img.media-img(src="../img/Linkedin.png", alt="")
                    img.media-img(src="../img/Instagram.png", alt="")
            ul.resources
                h1.list-title Resources
                li.p-list Watch Demo Video
                li.p-list Documents
                li.p-list Intigrations
                li.p-list Creating Tasks
                li.p-list Themes
                li.p-list Plugin
            ul.company 
                h1.list-title Company
                li.p-list Live Chanel
                li.p-list Latest Peoject
                li.p-list Manage Work
                li.p-list Quick Start Guide
                li.p-list Feedback
                li.p-list Support Center
            .newsletter
                h1.list-title Newsletter
                p.footer-paragraph Subscribe to our newsletter for latest update
                input.footer-input(type="text" placeholder="Enter your name")
                .icon-bg
                    img.input-icon(src="../img/link-icon.png", alt="")
    .footer-end
        .container
            p.copy © 2017 
             span.copy-word  Equalizzer   
             | All Rights Reserved By 
             span.copy-word  Abdullah Al Mamun   | Envato Marketplace            


