header.header
    .container 
        .navbar 
            .logo 
                img.logo-image(src="../../img/logo.svg", alt="")
            nav.nav 
                a.nav-link(href="") HOME
                a.nav-link(href="") FEATURE
                a.nav-link(href="") PRICING
                a.nav-link(href="") TEAM 
                a.nav-link(href="") BLOG
                a.nav-link(href="") CONTENT
            a.link-btn(href="") GET THE APP    
    .hero 
        .text-hero
            h1.firtst-title Appnest Best Mobile
            h2.second-title App Landing Page
            p.hero-descripton Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .hero-buttons 
                .apple-btn 
                    img.apple-img(src="../../img/Apple.png", alt="")
                    .btn-text 
                        h6.small-text DOWNLOAD FROM
                        h2.btn-name APPLE STORE
                .playstore-btn 
                    img.apple-img(src="../../img/playstore.png", alt="")
                    .btn-text 
                        h6.small-text DOWNLOAD FROM
                        h2.btn-name PLAY STORE
        .img-hero 
            img.iphone-img(src="../../img/iphone.png", alt="")