section.news
    .container 
        .news-hero
            h1.news-title Recent 
                span.word News
            p.news-description It is a long established fact that a reader will be distracted its by the readable content of a page when at its layout
        .posts
            .post-item 
                img.post-img(src="../img/news/news1.jpg", alt="")
                h2.post-name Exclusive Post For You
                p.post-date Posted By : Admin   |   07 Sep, 2018
                p.news-description Ut enim ad minim veniquis nostrud lieon tear exercitation ullamco.If you use this site to donating a bandwidth bill.
                a.news-link(href="") Read More >
            .post-item 
                img.post-img(src="../img/news/news2.jpg", alt="")
                h2.post-name Exclusive Post For You
                p.post-date Posted By : Admin   |   07 Sep, 2018
                p.news-description Ut enim ad minim veniquis nostrud lieon tear exercitation ullamco.If you use this site to donating a bandwidth bill.
                a.news-link(href="") Read More >
            .post-item 
                img.post-img(src="../img/news/news3.jpg", alt="")
                h2.post-name Exclusive Post For You
                p.post-date Posted By : Admin   |   07 Sep, 2018
                p.news-description Ut enim ad minim veniquis nostrud lieon tear exercitation ullamco.If you use this site to donating a bandwidth bill.
                a.news-link(href="") Read More >

                 



            