section.overview
    .container 
        .advantages 
            .adv-item 
                img.adv-icon(src="../img/adv-icon1.png", alt="")
                h1.adv-name Clean Design
                p.adv-description Lorem has survived not only five top centuries, but also the leap intoelect typesetting changed.
            .adv-item 
                img.adv-icon(src="../img/adv-icon2.png", alt="")
                h1.adv-name User Friendly
                p.adv-description Lorem has survived not only five top centuries, but also the leap intoelect typesetting changed.
            .adv-item 
                img.adv-icon(src="../img/adv-icon3.png", alt="")
                h1.adv-name Easy to Use
                p.adv-description Lorem has survived not only five top centuries, but also the leap intoelect typesetting changed.
            .adv-item 
                img.adv-icon(src="../img/adv-icon4.png", alt="")
                h1.adv-name Branding
                p.adv-description Lorem has survived not only five top centuries, but also the leap intoelect typesetting changed.            
                     
                            
