section.screenshot
    .conteiner 
        h2 Awesome Screenshots 
            h5 it is a long established fact that a reader will be distracted its by the readable content of a page when at its layaut
                img(src="/img/app_blue.jpg", alt="")
                img(src="/img/app_green.jpg", alt="")
                img(src="/img/app_orange.jpg", alt="")