section.video
	.left-text
		.Text__Button
			.text
				h1.text1 App Overview For Easy Understanding
				p.text2 It is a long established fact that a reader will be distracted its by the readable content of a page when at its layout. As opposed it conten making it look like readable English
			.hero-buttons2
					.apple-btn2
						img.apple-img2(src="../img/Apple.png", alt="")
						.btn-text2
							h6.small-text2  DOWNLOAD FROM
							h2.btn-name2  APPLE STORE
					.playstore-btn2
						img.apple-img2(src="../img/Play store2.png", alt="")
						.btn-text2
							h6.small-text2  DOWNLOAD FROM
							h2.btn-name2  PLAY STORE
		.image
			img(src='../img/Video.png' alt='')
