section.video
	.left-text
		.Text__Button
			.text
				h1.text1 App Overview For Easy Understanding
				p.text2 It is a long established fact that a reader will be distracted its by the readable content of a page when at its layout. As opposed it conten making it look like readable English
			.button
				.apple
					img(src='../img/Apple.png' alt='')
					button
						img(src='../img/Apple.png' alt='')
						| Download fromApple Store
				.Play 
					button
						img(src='../img/playstore.png' alt='')
						| Download fromPlay Store
		.image
			img(src='../img/video_poster.jpg' alt='')
