.overview
{
    background: rgb(251,251,251);
    height: 548px;
}
.advantages 
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
    padding-top: 115px;
}
.adv-item 
{
    text-align: center;
}