
.tec 
{
    text-align: center;
}
.screen 
{
    margin-top: 50px;
    margin-left: 10px;
}
.one 
{
    margin-top: 50px;
}
.slash-btn 
{
    width: 40px;
    height: 5px;
    border: rgb(114, 114, 114);
    background-color: rgb(114, 114, 114);
    margin-left: 10px;
    border-radius: 4px;
}
.slash-btn:hover
{
    width: 50px;
    border: rgb(19, 82, 124);
    background-color: rgb(19, 82, 124);
    margin-left: 10px;
    border-radius: 4px; 
    color: rgb(42, 94, 153);
}
.bnt 
{
    margin-left: 500px;
    margin-top: 50px;

}
.word
{
    color: rgb(1, 88, 248);
}